# SQL, a primer

## ERD Diagram

draw a ER diagram of the database and paste the screen shot here. 

you can use [this online editor for example](https://online.visual-paradigm.com/diagrams/solutions/free-erd-editor-online/)

## Query the database

### Simple Query

🤔 display the records of the table weibo_status (fetchall)

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('data/UTSEUS-shanghai-weibo-2012.db')
c = conn.cursor()

In [ ]:
query = '''
SELECT * 
FROM weibo_status
'''
c.execute(query)
rows = c.fetchall()
rows

🤔 display the first 5 records of the table weibo_status (fetchone, limit)

In [4]:
query = '''
SELECT * 
FROM weibo_status
LIMIT 5
'''
c.execute(query)
rows = c.fetchall()
len(rows)

5

### query with projection

🤔 display the columns with the status text and the date from weibo_status

In [7]:
query = '''
SELECT status,created_at
FROM weibo_status
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('吃火锅啦 我在#洪长兴羊肉馆(云南南路店)# http://t.cn/zOeOmRM', '2012-11-18 19:24:56+08')]

🤔 display the description and gender from the table weibo_user __*renamed into `wu`*__

In [9]:
query = '''
SELECT gender,description 
FROM weibo_user wu
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('f', '是非浑不分，何堪辨世事')]

🤔 display only the description from the table weibo_user but __rename the column `desc` instead of `description`__

In [10]:
query = '''
SELECT description as desc
FROM weibo_user
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('是非浑不分，何堪辨世事',)]

### query with selection

🤔 Select all the points of interests (POI) in jufengyuan road from the table weibo_location

In [11]:
query = '''
SELECT *
FROM weibo_location wl
WHERE street LIKE '%聚丰园路%'
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[(365,
  '宝寿司(上大店)',
  31.315066921,
  121.38518595,
  'B2094757D66DABF9459A',
  '上海市聚丰园路',
  '上海市,宝山区,聚丰园路',
  '日本料理',
  'Japanese',
  '餐饮',
  95,
  5,
  7,
  5)]

In [12]:
query = '''
SELECT *
FROM weibo_location wl
WHERE street = "上海市聚丰园路"
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[(365,
  '宝寿司(上大店)',
  31.315066921,
  121.38518595,
  'B2094757D66DABF9459A',
  '上海市聚丰园路',
  '上海市,宝山区,聚丰园路',
  '日本料理',
  'Japanese',
  '餐饮',
  95,
  5,
  7,
  5)]

🤔 Select all the shops around century park: bounding box __top left__ `121.5276, 31.2256` and __bottom right__ `121.5705, 31.2097`

In [21]:
query = '''
SELECT title
FROM weibo_location 
WHERE longitude>=121.5276 and longitude<=121.5705 and latitude>=31.2097 and latitude <=31.2256 
'''
c.execute(query)
rows = c.fetchall()
len(rows)

674

🤔 Select all the message where the text contains `happy`

In [22]:
query = '''
SELECT status
FROM weibo_status
WHERE status LIKE '%happy%' or status LIKE '%快乐%'
'''
c.execute(query)
rows = c.fetchall()
len(rows)

13421

🤔 Select all the message where the text contains `happy` or `sad`

In [ ]:
query = '''

'''
c.execute(query)
rows = c.fetchall()
rows

### query with counting

🤔 what is the most popular word in the message, `happy` or `sad`?

In [ ]:
query = '''
SELECT status
FROM weibo_status
WHERE COUNT()
'''
c.execute(query)
rows = c.fetchall()
rows

### query with sorting

🤔 show the top 10 coffee place according to their distinct user checkin count

In [31]:
query = '''
SELECT title,distinct_user_checkin_count as dc
FROM weibo_location
WHERE category_en_name ='cafe'
ORDER BY dc DESC
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('星光公益站之陈坤（行走的力量）', 251752),
 ('广州白云机场', 71858),
 ('2012登船点', 69726),
 ('2013跨年演唱会聚集地', 42831),
 ('首都机场T3航站楼', 33592),
 ('虹桥火车站', 26441),
 ('虹桥机场2号航站楼(出发)', 25014),
 ('昆明长水机场', 22319),
 ('香港國際機場(出發)', 21773),
 ('虹桥二号航站楼', 21184)]

### query with grouping
🤔 list the locations grouped by their english category name (remove the null and unknown categories)

In [40]:
query = '''
SELECT category_en_name
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_name
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM',),
 ('Class IT company',),
 ('KTV',),
 ('General location marker',),
 ('General Attractions',),
 ('Three star hotels',),
 ('Three hospitals',),
 ('Shanghai cuisine',),
 ('Stores',),
 ('Dongbei',)]

🤔 list the locations english category names and how many location each category has (remove the null and unknown categories)

In [50]:
query = '''
SELECT category_en_name,COUNT(*)
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_en_name
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM', 30),
 ('Activity', 8),
 ('Adult Education', 46),
 ('Airport', 183),
 ('American flavor', 8),
 ('Anhui dishes', 3),
 ('Antiques and paintings shop', 7),
 ('Aquarium', 2),
 ('Archives', 2),
 ('Art gallery', 17)]

🤔 list the top 10 locations english category names according to their count (remove the null and unknown categories)

In [55]:
query = '''
SELECT category_en_name,COUNT(*) as total
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_name
ORDER BY total DESC
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', 5004),
 ('Food & Drink', 2294),
 ('Fast-food restaurant', 2254),
 ('Bus Station', 1816),
 ('Buildings', 1763),
 ('Other', 1735),
 ('Door', 1340),
 ('Live Entertainment', 1212),
 ('Shanghai cuisine', 990),
 ('Company', 811)]

🤔 list the top 10 locations english per street ordered by count. If the count is the same, order by the (category, street) having the most total checking

In [74]:
query = '''
SELECT category_en_name,street,COUNT(*) as total,SUM(total_checkin_count) as checkin
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_en_name
ORDER BY total DESC
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', '上海市泰兴路', 5004, 608375),
 ('Food & Drink', '上海市武夷路', 2294, 189053),
 ('Fast-food restaurant', '上海市剑河路', 2254, 258634),
 ('Bus Station', '上海市吴淞路', 1859, 302323),
 ('Buildings', '上海市海兴路', 1763, 393231),
 ('Other', '上海市富城路', 1735, 485094),
 ('Door', '上海市仙霞路', 1340, 58739),
 ('Live Entertainment', '上海市外马路', 1212, 124505),
 ('Shanghai cuisine', '上海市兴义路', 990, 145931),
 ('Company', '上海市陆家嘴环路', 811, 27079)]

### query multiple tables
🤔 select the top 10 location where people got birthday party

In [86]:
query = '''
SELECT 
    title,street,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    status like '%happy birthday%' or
    status like '%生日快乐%'
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('台北纯K Party', '上海市天山路', 12),
 ('唛歌时尚KTV(淮海中路店)', '上海市淮海中路', 11),
 ('银乐迪(虹口龙之梦店)', '上海市西江湾路', 10),
 ('Richy(复兴公园店)', '上海市重庆南路', 9),
 ('上海戏剧学院(莲花路校区)', '上海市莲花路', 9),
 ('MUSE', '上海市北京东路', 7),
 ('MUSE2', '上海市兴安路', 7),
 ('银乐迪', '上海市宜山路', 6),
 ('证大·大拇指广场', '上海市芳甸路', 6),
 ('大悦城', '上海市西藏北路', 6)]

🤔 select the top 10 favorite location where the top 500 most popular people

In [3]:
query = '''
SELECT 
    title,street,category_en_name,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('沪上一家辣肉面馆(成都北路店)', '上海市成都北路', 'Fast-food restaurant', 8),
 ('新天地', '上海市嵩山路', 'Other', 7),
 ('川杨新苑三期', '上海市孙环路', 'Residences', 7),
 ('幸福码头', '上海市中山南路', 'Residences', 7),
 ('上海明天广场JW万豪酒店', '上海市江阴路', 'Five-star hotel', 7),
 ('汇贤居(The Summit)', '上海市安福路', 'Residences', 5),
 ('镇坪路', '上海市镇坪路', 'Unknown Classification', 5),
 ('环球金融中心', '上海市东泰路', 'Unknown Classification', 5),
 ('张江科教园区', '上海市华佗路', 'Institutions of higher learning', 5),
 ('中国联通', '上海市文治路', 'Buildings', 5)]

🤔 THE FINAL QUERY
1. select the top 50 favorite location where the 500 most popular woman go 
2. select the top 50 favorite location where the 500 most popular men go
3. display the one they have in common and the one specific for each of these two genders orders by how many influencers go there

1.

In [18]:
query = '''
SELECT 
    title,street,category_en_name,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='f'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('凤城三村', '上海市江浦路', 'Residences', 13),
 ('康泰新城', '上海市华灵路', 'Unknown Classification', 13),
 ('新天地', '上海市嵩山路', 'Other', 9),
 ('幸福码头', '上海市中山南路', 'Residences', 7),
 ('万源城朗郡', '上海市古龙路', 'Residences', 6),
 ('汤臣高尔夫别墅', '上海市龙东大道', 'Residences', 6),
 ('七韵美地苑', '上海市吴中路', 'Unknown Classification', 6),
 ('MUSE2', '上海市兴安路', 'Bar', 6),
 ('汇贤居(The Summit)', '上海市安福路', 'Residences', 5),
 ('南宜花苑', '上海市凯旋路', 'Residences', 5)]

2.

In [48]:
query = '''
SELECT 
    title,street,category_en_name,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='m'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('上海财经大学中山北一路校区', '上海市新市路', 'Institutions of higher learning', 13),
 ('沪上一家辣肉面馆(成都北路店)', '上海市成都北路', 'Fast-food restaurant', 8),
 ('川杨新苑三期', '上海市孙环路', 'Residences', 7),
 ('张江科教园区', '上海市华佗路', 'Institutions of higher learning', 5),
 ('中远两湾城西区', '上海市光复西路', 'Unknown Classification', 4),
 ('和风造型私属Salon', '上海市上南路', 'Live Entertainment', 4),
 ('南新四村', '上海市下南路', 'Unknown Classification', 4),
 ('幸福路', '上海市幸福路', 'Other', 4),
 ('虹口体育馆', '上海市东体育会路', 'Food & Drink', 4),
 ('G-Star RAW旗舰店', '上海市成都北路', 'Shopping services', 4)]

3.

In [76]:
query1 = '''
SELECT 
    title,street,category_en_name
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='m'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
LIMIT 10
'''
c.execute(query1)
rows1 = c.fetchall()
#print(rows1)
query2 = '''
SELECT 
    title,street,category_en_name
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='f'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
LIMIT 10
'''
c.execute(query2)
rows2 = c.fetchall()

In [ ]:
rows1[:]

In [77]:
setrow1=set(rows1)
setrow2=set(rows2)
# print(rows1[0])
# print(setrow1)
diff = setrow1.difference(setrow2)
print(diff)
comm = setrow1.intersection(setrow2)
print("\n")
print(comm)

{('新旺茶餐厅 无限度广场店', '上海市淮海中路', 'Food & Drink'), ('星巴克(瑞金路店)', '上海市瑞金二路', 'Other'), ('万航渡路', '上海市万航渡路', 'Unknown Classification'), ('偶巴尔坛(吴中路店)', '上海市万源路', 'Korean cuisine'), ('唐宫(银河店)', '上海市中山西路', 'Cantonese cuisine'), ('上海文化广场', None, None), ('上海大学', '上海市广延路', 'Institutions of higher learning'), ('金逸国际电影城上海中环店', '上海市真北路', 'Cinema'), ('好乐迪量贩KTV', '上海市太仓路', 'KTV')}


{('金茂大厦', '上海市海兴路', 'Buildings')}