# SQL, a primer

## ERD Diagram

draw a ER diagram of the database and paste the screen shot here. 

you can use [this online editor for example](https://online.visual-paradigm.com/diagrams/solutions/free-erd-editor-online/)

## Query the database

### Simple Query

ğŸ¤” display the records of the table weibo_status (fetchall)

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('data/UTSEUS-shanghai-weibo-2012.db')
c = conn.cursor()

In [ ]:
query = '''
SELECT * 
FROM weibo_status
'''
c.execute(query)
rows = c.fetchall()
rows

ğŸ¤” display the first 5 records of the table weibo_status (fetchone, limit)

In [4]:
query = '''
SELECT * 
FROM weibo_status
LIMIT 5
'''
c.execute(query)
rows = c.fetchall()
len(rows)

5

### query with projection

ğŸ¤” display the columns with the status text and the date from weibo_status

In [7]:
query = '''
SELECT status,created_at
FROM weibo_status
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('åƒç«é”…å•¦ æˆ‘åœ¨#æ´ªé•¿å…´ç¾Šè‚‰é¦†(äº‘å—å—è·¯åº—)# http://t.cn/zOeOmRM', '2012-11-18 19:24:56+08')]

ğŸ¤” display the description and gender from the table weibo_user __*renamed into `wu`*__

In [9]:
query = '''
SELECT gender,description 
FROM weibo_user wu
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('f', 'æ˜¯éæµ‘ä¸åˆ†ï¼Œä½•å ªè¾¨ä¸–äº‹')]

ğŸ¤” display only the description from the table weibo_user but __rename the column `desc` instead of `description`__

In [10]:
query = '''
SELECT description as desc
FROM weibo_user
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[('æ˜¯éæµ‘ä¸åˆ†ï¼Œä½•å ªè¾¨ä¸–äº‹',)]

### query with selection

ğŸ¤” Select all the points of interests (POI) in jufengyuan road from the table weibo_location

In [11]:
query = '''
SELECT *
FROM weibo_location wl
WHERE street LIKE '%èšä¸°å›­è·¯%'
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[(365,
  'å®å¯¿å¸(ä¸Šå¤§åº—)',
  31.315066921,
  121.38518595,
  'B2094757D66DABF9459A',
  'ä¸Šæµ·å¸‚èšä¸°å›­è·¯',
  'ä¸Šæµ·å¸‚,å®å±±åŒº,èšä¸°å›­è·¯',
  'æ—¥æœ¬æ–™ç†',
  'Japanese',
  'é¤é¥®',
  95,
  5,
  7,
  5)]

In [12]:
query = '''
SELECT *
FROM weibo_location wl
WHERE street = "ä¸Šæµ·å¸‚èšä¸°å›­è·¯"
LIMIT 1
'''
c.execute(query)
rows = c.fetchall()
rows

[(365,
  'å®å¯¿å¸(ä¸Šå¤§åº—)',
  31.315066921,
  121.38518595,
  'B2094757D66DABF9459A',
  'ä¸Šæµ·å¸‚èšä¸°å›­è·¯',
  'ä¸Šæµ·å¸‚,å®å±±åŒº,èšä¸°å›­è·¯',
  'æ—¥æœ¬æ–™ç†',
  'Japanese',
  'é¤é¥®',
  95,
  5,
  7,
  5)]

ğŸ¤” Select all the shops around century park: bounding box __top left__ `121.5276, 31.2256` and __bottom right__ `121.5705, 31.2097`

In [21]:
query = '''
SELECT title
FROM weibo_location 
WHERE longitude>=121.5276 and longitude<=121.5705 and latitude>=31.2097 and latitude <=31.2256 
'''
c.execute(query)
rows = c.fetchall()
len(rows)

674

ğŸ¤” Select all the message where the text contains `happy`

In [22]:
query = '''
SELECT status
FROM weibo_status
WHERE status LIKE '%happy%' or status LIKE '%å¿«ä¹%'
'''
c.execute(query)
rows = c.fetchall()
len(rows)

13421

ğŸ¤” Select all the message where the text contains `happy` or `sad`

In [ ]:
query = '''

'''
c.execute(query)
rows = c.fetchall()
rows

### query with counting

ğŸ¤” what is the most popular word in the message, `happy` or `sad`?

In [ ]:
query = '''
SELECT status
FROM weibo_status
WHERE COUNT()
'''
c.execute(query)
rows = c.fetchall()
rows

### query with sorting

ğŸ¤” show the top 10 coffee place according to their distinct user checkin count

In [31]:
query = '''
SELECT title,distinct_user_checkin_count as dc
FROM weibo_location
WHERE category_en_name ='cafe'
ORDER BY dc DESC
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('æ˜Ÿå…‰å…¬ç›Šç«™ä¹‹é™ˆå¤ï¼ˆè¡Œèµ°çš„åŠ›é‡ï¼‰', 251752),
 ('å¹¿å·ç™½äº‘æœºåœº', 71858),
 ('2012ç™»èˆ¹ç‚¹', 69726),
 ('2013è·¨å¹´æ¼”å”±ä¼šèšé›†åœ°', 42831),
 ('é¦–éƒ½æœºåœºT3èˆªç«™æ¥¼', 33592),
 ('è™¹æ¡¥ç«è½¦ç«™', 26441),
 ('è™¹æ¡¥æœºåœº2å·èˆªç«™æ¥¼(å‡ºå‘)', 25014),
 ('æ˜†æ˜é•¿æ°´æœºåœº', 22319),
 ('é¦™æ¸¯åœ‹éš›æ©Ÿå ´(å‡ºç™¼)', 21773),
 ('è™¹æ¡¥äºŒå·èˆªç«™æ¥¼', 21184)]

### query with grouping
ğŸ¤” list the locations grouped by their english category name (remove the null and unknown categories)

In [40]:
query = '''
SELECT category_en_name
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_name
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM',),
 ('Class IT company',),
 ('KTV',),
 ('General location marker',),
 ('General Attractions',),
 ('Three star hotels',),
 ('Three hospitals',),
 ('Shanghai cuisine',),
 ('Stores',),
 ('Dongbei',)]

ğŸ¤” list the locations english category names and how many location each category has (remove the null and unknown categories)

In [50]:
query = '''
SELECT category_en_name,COUNT(*)
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_en_name
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('ATM', 30),
 ('Activity', 8),
 ('Adult Education', 46),
 ('Airport', 183),
 ('American flavor', 8),
 ('Anhui dishes', 3),
 ('Antiques and paintings shop', 7),
 ('Aquarium', 2),
 ('Archives', 2),
 ('Art gallery', 17)]

ğŸ¤” list the top 10 locations english category names according to their count (remove the null and unknown categories)

In [55]:
query = '''
SELECT category_en_name,COUNT(*) as total
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_name
ORDER BY total DESC
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', 5004),
 ('Food & Drink', 2294),
 ('Fast-food restaurant', 2254),
 ('Bus Station', 1816),
 ('Buildings', 1763),
 ('Other', 1735),
 ('Door', 1340),
 ('Live Entertainment', 1212),
 ('Shanghai cuisine', 990),
 ('Company', 811)]

ğŸ¤” list the top 10 locations english per street ordered by count. If the count is the same, order by the (category, street) having the most total checking

In [74]:
query = '''
SELECT category_en_name,street,COUNT(*) as total,SUM(total_checkin_count) as checkin
FROM weibo_location
WHERE category_en_name not in ("NULL","Unknown Classification")
GROUP BY category_en_name
ORDER BY total DESC
limit 10 
'''
c.execute(query)
rows = c.fetchall()
rows

[('Residences', 'ä¸Šæµ·å¸‚æ³°å…´è·¯', 5004, 608375),
 ('Food & Drink', 'ä¸Šæµ·å¸‚æ­¦å¤·è·¯', 2294, 189053),
 ('Fast-food restaurant', 'ä¸Šæµ·å¸‚å‰‘æ²³è·¯', 2254, 258634),
 ('Bus Station', 'ä¸Šæµ·å¸‚å´æ·è·¯', 1859, 302323),
 ('Buildings', 'ä¸Šæµ·å¸‚æµ·å…´è·¯', 1763, 393231),
 ('Other', 'ä¸Šæµ·å¸‚å¯ŒåŸè·¯', 1735, 485094),
 ('Door', 'ä¸Šæµ·å¸‚ä»™éœè·¯', 1340, 58739),
 ('Live Entertainment', 'ä¸Šæµ·å¸‚å¤–é©¬è·¯', 1212, 124505),
 ('Shanghai cuisine', 'ä¸Šæµ·å¸‚å…´ä¹‰è·¯', 990, 145931),
 ('Company', 'ä¸Šæµ·å¸‚é™†å®¶å˜´ç¯è·¯', 811, 27079)]

### query multiple tables
ğŸ¤” select the top 10 location where people got birthday party

In [86]:
query = '''
SELECT 
    title,street,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    status like '%happy birthday%' or
    status like '%ç”Ÿæ—¥å¿«ä¹%'
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('å°åŒ—çº¯K Party', 'ä¸Šæµ·å¸‚å¤©å±±è·¯', 12),
 ('å”›æ­Œæ—¶å°šKTV(æ·®æµ·ä¸­è·¯åº—)', 'ä¸Šæµ·å¸‚æ·®æµ·ä¸­è·¯', 11),
 ('é“¶ä¹è¿ª(è™¹å£é¾™ä¹‹æ¢¦åº—)', 'ä¸Šæµ·å¸‚è¥¿æ±Ÿæ¹¾è·¯', 10),
 ('Richy(å¤å…´å…¬å›­åº—)', 'ä¸Šæµ·å¸‚é‡åº†å—è·¯', 9),
 ('ä¸Šæµ·æˆå‰§å­¦é™¢(è²èŠ±è·¯æ ¡åŒº)', 'ä¸Šæµ·å¸‚è²èŠ±è·¯', 9),
 ('MUSE', 'ä¸Šæµ·å¸‚åŒ—äº¬ä¸œè·¯', 7),
 ('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 7),
 ('é“¶ä¹è¿ª', 'ä¸Šæµ·å¸‚å®œå±±è·¯', 6),
 ('è¯å¤§Â·å¤§æ‹‡æŒ‡å¹¿åœº', 'ä¸Šæµ·å¸‚èŠ³ç”¸è·¯', 6),
 ('å¤§æ‚¦åŸ', 'ä¸Šæµ·å¸‚è¥¿è—åŒ—è·¯', 6)]

ğŸ¤” select the top 10 favorite location where the top 500 most popular people

In [3]:
query = '''
SELECT 
    title,street,category_en_name,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Fast-food restaurant', 8),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Other', 7),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 'Residences', 7),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 'Residences', 7),
 ('ä¸Šæµ·æ˜å¤©å¹¿åœºJWä¸‡è±ªé…’åº—', 'ä¸Šæµ·å¸‚æ±Ÿé˜´è·¯', 'Five-star hotel', 7),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 'Residences', 5),
 ('é•‡åªè·¯', 'ä¸Šæµ·å¸‚é•‡åªè·¯', 'Unknown Classification', 5),
 ('ç¯çƒé‡‘èä¸­å¿ƒ', 'ä¸Šæµ·å¸‚ä¸œæ³°è·¯', 'Unknown Classification', 5),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Institutions of higher learning', 5),
 ('ä¸­å›½è”é€š', 'ä¸Šæµ·å¸‚æ–‡æ²»è·¯', 'Buildings', 5)]

ğŸ¤” THE FINAL QUERY
1. select the top 50 favorite location where the 500 most popular woman go 
2. select the top 50 favorite location where the 500 most popular men go
3. display the one they have in common and the one specific for each of these two genders orders by how many influencers go there

1.

In [18]:
query = '''
SELECT 
    title,street,category_en_name,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='f'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('å‡¤åŸä¸‰æ‘', 'ä¸Šæµ·å¸‚æ±Ÿæµ¦è·¯', 'Residences', 13),
 ('åº·æ³°æ–°åŸ', 'ä¸Šæµ·å¸‚åçµè·¯', 'Unknown Classification', 13),
 ('æ–°å¤©åœ°', 'ä¸Šæµ·å¸‚åµ©å±±è·¯', 'Other', 9),
 ('å¹¸ç¦ç å¤´', 'ä¸Šæµ·å¸‚ä¸­å±±å—è·¯', 'Residences', 7),
 ('ä¸‡æºåŸæœ—éƒ¡', 'ä¸Šæµ·å¸‚å¤é¾™è·¯', 'Residences', 6),
 ('æ±¤è‡£é«˜å°”å¤«åˆ«å¢…', 'ä¸Šæµ·å¸‚é¾™ä¸œå¤§é“', 'Residences', 6),
 ('ä¸ƒéŸµç¾åœ°è‹‘', 'ä¸Šæµ·å¸‚å´ä¸­è·¯', 'Unknown Classification', 6),
 ('MUSE2', 'ä¸Šæµ·å¸‚å…´å®‰è·¯', 'Bar', 6),
 ('æ±‡è´¤å±…(The Summit)', 'ä¸Šæµ·å¸‚å®‰ç¦è·¯', 'Residences', 5),
 ('å—å®œèŠ±è‹‘', 'ä¸Šæµ·å¸‚å‡¯æ—‹è·¯', 'Residences', 5)]

2.

In [48]:
query = '''
SELECT 
    title,street,category_en_name,COUNT(*)as total
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='m'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
ORDER BY
    total DESC
LIMIT 10
'''
c.execute(query)
rows = c.fetchall()
rows

[('ä¸Šæµ·è´¢ç»å¤§å­¦ä¸­å±±åŒ—ä¸€è·¯æ ¡åŒº', 'ä¸Šæµ·å¸‚æ–°å¸‚è·¯', 'Institutions of higher learning', 13),
 ('æ²ªä¸Šä¸€å®¶è¾£è‚‰é¢é¦†(æˆéƒ½åŒ—è·¯åº—)', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Fast-food restaurant', 8),
 ('å·æ¨æ–°è‹‘ä¸‰æœŸ', 'ä¸Šæµ·å¸‚å­™ç¯è·¯', 'Residences', 7),
 ('å¼ æ±Ÿç§‘æ•™å›­åŒº', 'ä¸Šæµ·å¸‚åä½—è·¯', 'Institutions of higher learning', 5),
 ('ä¸­è¿œä¸¤æ¹¾åŸè¥¿åŒº', 'ä¸Šæµ·å¸‚å…‰å¤è¥¿è·¯', 'Unknown Classification', 4),
 ('å’Œé£é€ å‹ç§å±Salon', 'ä¸Šæµ·å¸‚ä¸Šå—è·¯', 'Live Entertainment', 4),
 ('å—æ–°å››æ‘', 'ä¸Šæµ·å¸‚ä¸‹å—è·¯', 'Unknown Classification', 4),
 ('å¹¸ç¦è·¯', 'ä¸Šæµ·å¸‚å¹¸ç¦è·¯', 'Other', 4),
 ('è™¹å£ä½“è‚²é¦†', 'ä¸Šæµ·å¸‚ä¸œä½“è‚²ä¼šè·¯', 'Food & Drink', 4),
 ('G-Star RAWæ——èˆ°åº—', 'ä¸Šæµ·å¸‚æˆéƒ½åŒ—è·¯', 'Shopping services', 4)]

3.

In [76]:
query1 = '''
SELECT 
    title,street,category_en_name
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='m'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
LIMIT 10
'''
c.execute(query1)
rows1 = c.fetchall()
#print(rows1)
query2 = '''
SELECT 
    title,street,category_en_name
FROM 
    weibo_status ws 
JOIN 
    weibo_location wl
ON 
    ws.weibo_location_id = wl.weibo_location_id
WHERE
    ws.weibo_user_id in (
        SELECT
            weibo_user_id
        FROM
            weibo_user
        WHERE 
            gender='f'
        ORDER BY
            followers_count DESC
        LIMIT 500
    )
GROUP BY 
    wl.weibo_location_id
LIMIT 10
'''
c.execute(query2)
rows2 = c.fetchall()

In [ ]:
rows1[:]

In [77]:
setrow1=set(rows1)
setrow2=set(rows2)
# print(rows1[0])
# print(setrow1)
diff = setrow1.difference(setrow2)
print(diff)
comm = setrow1.intersection(setrow2)
print("\n")
print(comm)

{('æ–°æ—ºèŒ¶é¤å… æ— é™åº¦å¹¿åœºåº—', 'ä¸Šæµ·å¸‚æ·®æµ·ä¸­è·¯', 'Food & Drink'), ('æ˜Ÿå·´å…‹(ç‘é‡‘è·¯åº—)', 'ä¸Šæµ·å¸‚ç‘é‡‘äºŒè·¯', 'Other'), ('ä¸‡èˆªæ¸¡è·¯', 'ä¸Šæµ·å¸‚ä¸‡èˆªæ¸¡è·¯', 'Unknown Classification'), ('å¶å·´å°”å›(å´ä¸­è·¯åº—)', 'ä¸Šæµ·å¸‚ä¸‡æºè·¯', 'Korean cuisine'), ('å”å®«(é“¶æ²³åº—)', 'ä¸Šæµ·å¸‚ä¸­å±±è¥¿è·¯', 'Cantonese cuisine'), ('ä¸Šæµ·æ–‡åŒ–å¹¿åœº', None, None), ('ä¸Šæµ·å¤§å­¦', 'ä¸Šæµ·å¸‚å¹¿å»¶è·¯', 'Institutions of higher learning'), ('é‡‘é€¸å›½é™…ç”µå½±åŸä¸Šæµ·ä¸­ç¯åº—', 'ä¸Šæµ·å¸‚çœŸåŒ—è·¯', 'Cinema'), ('å¥½ä¹è¿ªé‡è´©KTV', 'ä¸Šæµ·å¸‚å¤ªä»“è·¯', 'KTV')}


{('é‡‘èŒ‚å¤§å¦', 'ä¸Šæµ·å¸‚æµ·å…´è·¯', 'Buildings')}